*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/Users/GeoLab/soplidan13.ge/app/src/main/java/com/example/irakli/soplidange/utils/AuthorizationParams.java
